{% extends "base-template.html" %}
{% load staticfiles %}
{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Login</strong>

                </div>
                <div class="panel-body">
                    <form action="/login/" method="post" class="form-horizontal" role="form">
                        {% csrf_token %}
                        <table>
                        {{ form.as_p }}
                        </table>

                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
